
.name-icon{
    font-family: 'Press Start 2P';
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 100;
}


.bar {
    height: 30px;
    background: #7C5E99
}

.html {
    width: 180px;
}

.css {
    width: 180px;
}

.react {
    width: 0;
}

.js {
    width: 72px;
}

.api {
    width: 0;
}

.node {
    width: 0;
}


.sizebar {
    width: 360px;
    height: 30px;
    background-color: white ;
}

.icons {
     margin-left: 20px;
}

.img-icons-api {
    padding-top: 10px;
    height: 54px;
    width: 90px;
}


