#presentation {
    background-color: #3A4042;
    box-shadow: 6px 6px 0px #000;
    text-align: center;
    display: inline-block;
    padding: 42px;
}

#presentation .my-name {
    margin-bottom: 28px;

}


.my-name {
    font-family: "Press Start 2P", sans-serif;
    color: #F25A70;
    text-shadow: 4px 4px 0px #000;
    height: 40px;
    font-weight: 400;
    font-size: 4.0rem;
}


.function {
    font-family: "Press Start 2P", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    text-shadow: 4px 4px 0px #000;
    font-size: 3.0rem;

}


@media (min-width: 1024px) and (max-width: 1357px){
    .function {
        font-size: 2.0rem;
    }
    .my-name {
        font-size: 3.5rem;
    }
    #presentation .my-name {
        margin-bottom: 18px;
    }
}

@media (min-width: 768px) and (max-width: 886px){
    .function {
        font-size: 1.49rem;
    }
    .my-name {
        font-size: 2.3rem;
    }
    #presentation .my-name {
        margin-bottom: 3px;
    }
}
@media (min-width: 887px) and (max-width: 1023px){
    .function {
        font-size: 1.4rem;
    }
    .my-name {
        font-size: 2.6rem;
    }
    #presentation .my-name {
        margin-bottom: 3px;
    }
}

@media (min-width: 768px) and (max-width: 886px){
    .function {
        font-size: 1.2rem;
    }
    .my-name {
        font-size: 1.9rem;
    }
    #presentation .my-name {
        margin-bottom: 3px;
    }
}
@media (max-width: 767px) {
    .function {
        font-size: 1.0rem;
    }
    .my-name {
        font-size: 1.9rem;
    }
    #presentation .my-name {
        margin-bottom: 0px;
    }
}

@media (min-width: 425px) and (max-width: 635px){
    .function {
        margin-top: 0px;
        font-size: 0.9em;
    }
    .my-name {
        height: 24px;
        font-size: 1.3rem;
    }
    #presentation .my-name {
        margin-bottom: 0px;
    }
    #presentation {
        padding: 16px;
    }
}