.section.-about{
    background-color: #4C5B84;
    border-bottom: 10px solid #000000;
    height: 100%;
}

.main-description {
    font-family: 'Fira Code', sans-serif;
    font-size: 3.0rem;
    line-height: 4rem;
    font-weight: 300;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 70px;
}

@media (max-width: 768px) {
    .main-description {
        font-size: 2.0rem;
        line-height: 3.0rem;
    }
}