.section.-banner{
    box-sizing: border-box;
    background-image: url(../../img/photo.png);
    height:  56vw;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
    background-color: #000;

}

.section.-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 46vw; 
    max-width: 900px;
}

@media (min-width: 1024px) and (max-width: 1357px){
    .section.-banner{
        padding-top: 60px;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .section.-banner{
        padding-top: 40px;
        padding-left: 60px;
    }
}
.section.-banner #presentation {
    margin-bottom: 40px;

}

.section.-banner .navigation {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 767px) {
    .section.-banner .navigation{
        justify-content: space-between;
    }
    .section.-banner .wrapper {
        max-width: 400px;
    }
    .section.-banner {
        padding-top: 25px;
        padding-left: 30px;
    }
}

@media (max-width: 320px) {
    .section.-banner {
        width: 100vw;
    }
}