.section.-projects{
    background-color: black;
    border-bottom: 10px solid rgb(65, 64, 65);
    height: 44vw;
}

.wrapper-cards {
    justify-content: space-evenly;
    display: flex
}

.image-portifolio {
    box-shadow: 10px 10px 0px rgb(85, 84, 84);
}